body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for desired transparency */
    z-index: 1;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    z-index: 2;
    text-align: center;
    border-radius: 20px;
}

input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
    margin: 10px 0;
    padding: 5px;
}

nav {
    display: flex;
    background-color: black;
    opacity: 0.8;
}

#navbar {
    justify-content: flex-end;
    margin-left: auto;
}

ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin-left: auto;
}

li {
    text-decoration: none;  
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#image {
    padding-right: 100px;
    padding-right: 100px;
}

#title{
    padding-right: 100px;
    padding-right: 100px;
}
#description{
    padding-right: 100px;
    padding-right: 100px;
}
#submit{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#submit:hover{
    cursor: pointer;
}
#back{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#back:hover{
    cursor: pointer;
}